@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../images/bg-mobile.svg"),
    linear-gradient(to right, #674baf, #674baf);
  background-position: top;
  background-repeat: no-repeat;
}
.social-media-div {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

.social-media-div:hover {
  border: 1px solid hsl(300, 69%, 71%);
  fill: hsl(300, 69%, 71%);
}

a:hover {
  box-shadow: 0 2px 9px 5px #523b8b;
}

img[src="images/logo.svg"] {
  margin-left: -5rem;
}

@media (min-width: 1024px) {
  img[src="images/logo.svg"] {
    margin-left: -12.5rem;
  }
  body {
    background-image: url("../images/bg-desktop.svg"),
      linear-gradient(to right, #674baf, #674baf);
    background-position: -60px -10px;
    background-repeat: no-repeat;
  }
}
